body {
text-align: center;
}
h1 {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 400;
	font-size:45px;
	text-transform: uppercase;
	margin: 0;

}
h2 {
	font-family: "Raleway";
	color: #0D2C40;
	letter-spacing:1px;
	font-weight:600;
	font-size: 20px;
	text-transform:uppercase;
	
}
a {
	font-family: "Raleway";
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600px;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 20px;
	color: white;
	padding: 20px;

}
p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;

}
header {
	background-color:#F15b31;
 	color: white;
	padding:30px,20px ;
	
}
body {
	margin:0;
}
nav{
	background-color: #00A6b3;
	color: white;
	padding:20px 20px;
	border-bottom: 2px solid transparent;

}
main{
	width:850px;
	margin:35px auto;
	
}
img{
	margin:40px 8px;
	
}
.Copyright {
	font-family: "Raleway";
	float: left;
}
.message {
	font-family: "Raleway";
	float: right;
}
.clearfix: after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
footer {
	text-transform: uppercase; 
	padding: 0 20px; 
	background-color: #0D2C40;
	color: white; 
	font-size: 14px; 
	letter-spacing: .08em; 
	font-weight: 500; }
}
.name {
	color: #F15b31;
	font-weight: 700;
}
a{ padding: 20px; text-decoration: none; color: #FFFFFF;}
a:hover {
	background-color:white;}
